:root{
  --main-color: #0361E4;
  --main-light-color: #1E7BFC;
  --background-color: #FFFF;
  --text-color: #FFFF;
  --borders-color: #B7C2CC;
  --disabled-color: #E0E0E0;
  --main-disabled-color: #FF7961;
}