@import './constants.css';

.wrapper {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputs-container {
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  border: 1px solid var(--borders-color);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.inputs {
  padding: 1rem;
  width: 100%;
  outline: none !important;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  /* border-radius: 2px; */
}

.input-airports:focus::placeholder {
  color: transparent;
}

.inputs-disabled:disabled {
  color: var(--disabled-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.airports-container {
  display: flex;
  background: var(--background-color);
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border: 2px solid #ddd;
  border-radius: 6px;
  padding: 2rem 1rem;
  margin-bottom: 0.5rem;
}

.airports-container:focus {
  outline: none !important;
  border: 4px solid var(--main-color);
}

.airports-list {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: flex-start;
  width: 100%;
  border-radius: 6px;
}

.airports-list ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

.airports-list li {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  cursor: pointer;
}

.airports-list li:hover {
  background-color: var(--main-light-color);
  color: var(--text-color);
  border-radius: 2px;
}

.airports-list p {
  width: 50%;
  padding-left: 2.5rem;
}

.airports-code {
  align-self: flex-end;
}

.search-button {
  width: 30%;
  padding: 0.25rem 1rem;
  background-color: transparent;
  border-radius: 6px;
  border: 3px solid var(--main-color);
  color: var(--main-color);
  font-size: 1.3rem;
  font-weight: 600;
  align-self: center;
  cursor: pointer;
  margin: 0.5rem 1rem;
}

.search-button:disabled {
  width: 50%;
  padding: 0.25rem 1rem;
  background-color: transparent;
  border-radius: 6px;
  border: 3px solid var(--main-disabled-color);
  color: var(--main-disabled-color);
  font-size: 1.3rem;
  font-weight: 600;
  cursor: auto;
  align-self: center;
}

svg {
  cursor: pointer;
  color: var(--main-color);
  padding: 0.3rem;
}

svg:hover {
  background-color: var(--main-color);
  color: white;
  border-radius: 3px;
  padding: 0.3rem;
}

.total-column {
  grid-column: none;
  margin: 1rem 1.2rem;
  font-size: 1.3rem;
  font-weight: bolder;
}

.discount {
  text-decoration: line-through;
}

@media only screen and (max-width: 426px) {
  .inputs-container {
    width: 80%;
    height: 100%;
  }

  .inputs {
    font-size: 1rem;
  }

  .airports-list li:active {
    background-color: none;
  }

  .search-button {
    width: auto;
    font-size: 1rem;
  }
  .search-button:disabled {
    width: auto;
    font-size: 1rem;
  }
}
