.loading-icon {
  color: #0361e4;
  animation: move 2s ease infinite;
}

.loading-text {
  font-size: 3rem;
  color: #0361e4;
  font-weight: bolder;
}

@keyframes move {
  0% {
    transform: translateX(0%);
  }

  10% {
    transform: translateX(-10%);
  }

  25% {
    transform: translateX(-25%);
  }

  35% {
    transform: translateX(-10%);
  }

  50% {
    transform: translateX(0%);
  }

  65% {
    transform: translateX(10%);
  }

  75% {
    transform: translateX(25%);
  }

  90% {
    transform:  translateX(10%);
  }

  100% {
    transform: translateY(0%);
  }
}
